body {
    background-color: hsl(212, 45%, 89%);
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.box {
    border: 1px solid hsl(212, 45%, 89%);
    border-radius: 4%;
    width: 250px; 
    height: 360px;
    background-color: hsl(0, 0%, 100%);
    font-family: sans-serif;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px 0 20px 630px;
}


.uBox {
    border-radius: 2%;
    width: 230px;
    height: 210px;
    background-color: hsl(218, 100%, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.qr {
    width: 120px;
    height: 120px;
    background-color: white;
}

.qrImage{
    width: 120px;
    height:120px;
}

.lBox {
    width: 210px;
    height: 100px;
    margin: 20px 0;
}

.t1 {
    margin: 10px 0 0;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.t2 {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    padding: 0 10px;
    color: hsl(216, 15%, 48%);
}
